*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight:normal;
    margin: 15px 80px;
}
header{
    padding: 15px 80px;
    font-size: 24px;
    color: rgb(156, 156, 156);
    background-color: rgb(27, 27, 27);
}
form{
    margin-left: 80px;
}
.in{
    width: 280px;
    height: 40px;
    border: 1px solid gray;
    font-size: 22px;
    border-radius: 7px;
}
.sub{
    width: 60px;
    height: 25px;   
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 4px;
}
select{
    width: 35px;
    height: 25px;
    font-size: 20px;
    border-radius: 4px;
}
.line{
    margin:15px 10%;
    width: 80%;
    border: 1px solid rgb(241, 236, 236);
}
footer{
    margin-left: 80px;
}
a{
    color: rgb(156, 156, 156);
    margin-right: 50px;
    text-decoration:none;
}