@{
    ViewData["Title"] = "Home Page";
}

<h1>Form parameters parsing demo</h1>
<ul type="disc">
    <li><a class="nav-link" asp-area="" asp-controller="Service" asp-action="ManualParsingInSeparateActions">Manual parsing in separate actions</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="Service" asp-action="ManualParsingInSingleActions">Manual parsing in single action</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="Service" asp-action="ModelBindingParameters">Model binding (parameters)</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="Service" asp-action="ModelBindingSeparateModel">Model binding (separate model)</a></li>
</ul>
