@{
    ViewData["Title"] = "ManualParsingInSingleAction";
}

<h1>ManualParsingInSingleAction</h1>
<div class="calculations">
    <form method='post'>
        <input type='number' name='first' class="in"><br>
        <select name="sign">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select><br>
        <input type='number' name='second' class="in"><br>
        <input type='submit' value='Submit' class="sub">
    </form>
</div>